*{
    margin: 0;
}

body{
    
    background-color: #1f2326;
    margin: 0;
    font-family:"Open Sans", sans-serif;;
    height: 100vh;
    color: #ffffff;
}


/* header */

header{
    background-color:  hsl(0, 61%, 25%);
    padding: 13px;
    margin:auto;
}

.flex{
    border: solid red;
    display: flex;
    flex-direction: row;
    margin-bottom: 1%;
    margin-top: 1%;
}

head{
    align-content: center;
    text-align: center;
}

.cadastro-livros-header{
    margin-right: 60%;
    padding: 15px;
    color: #FFEFD2;  
}

/* aparencia dos inputs */  


.dados-livros{
    padding: 30px;
    display: flex;
    flex-direction: column;
    margin-left: 5%;
    margin-top: 20px;
    flex-wrap: wrap;
    column-gap: 20px;
    height: 520px;
    width: 40%;
}

textarea:focus, input:focus {
    box-shadow: 0 0 0 0;
    outline: 0;
    /* faz que quando, o input de entrada for clicado,
     continue sem nenhuma borda de seleção */
}

.input-dados{
    background-color: transparent;
    border: 1px solid #FFEFD2;
    border-radius: 15px;
    font-family: "Open Sans", sans-serif;
    height: 60px;
    margin-bottom: 15px;
    width: auto;   
    font-size: 15px;    
    color:#929292;
    margin-top: 10px;
}
 
.input-dados-descricao{
background-color: transparent;
border: 1px solid #FFEFD2;
border-radius: 15px;
font-family: "Open Sans", sans-serif;
height: 100px;
margin-bottom: 15px;
margin-top: 10px;
width: 35%;   
font-size: 15px;    
color:#FFEFD2
} 

#excluirItem{
    margin: 20px;
    width: 150px;
    height: 40px;
    font-size: 15px; 
    padding: 8px; 
    background-color: hsla(0, 61%, 25%, 0.795);
    color: #c7c7c7; 
    border: none;
    border-radius: 20px;
    font-family: "Open Sans", sans-serif;
}

#voltar{
        width: 150px;
        height: 40px;
        font-size: 40px; 
        padding: 8px; 
        background-color:transparent;
        color: #ffffff; 
        border: none;
        border-radius: 20px;
        font-family: "Open Sans", sans-serif;
}

#salvarItem{
    margin: 20px;
    width: 150px;
    height: 40px;
    font-size: 15px; 
    padding: 8px; 
    background-color: #D9D9D9;
    color: #000000; 
    border: none;
    border-radius: 20px;
    font-family: "Open Sans", sans-serif;
}


.container-botoes{
display: flex;
}

.delete-btn{
    margin: 10px;
    width: 150px;
    height: 40px;
    font-size: 15px; 
    padding: 8px; 
    background-color: hsla(0, 61%, 25%, 0.795);
    color: #c7c7c7; 
    border: none;
    border-radius: 20px;
    font-family: "Open Sans", sans-serif; 
}

.destaque-btn{
    margin: 10px;
    width: 150px;
    height: 40px;
    font-size: 15px; 
    padding: 8px; 
    background-color: hsla(0, 61%, 25%, 0.795);
    color: #c7c7c7; 
    border: none;
    border-radius: 20px;
    font-family: "Open Sans", sans-serif; 
}

.deldestaque-btn{
    margin: 10px;
    width: 150px;
    height: 40px;
    font-size: 15px; 
    padding: 8px; 
    background-color: hsla(0, 61%, 25%, 0.795);
    color: #c7c7c7; 
    border: none;
    border-radius: 20px;
    font-family: "Open Sans", sans-serif; 
}

.edit-btn{
    margin: 10px;
    width: 150px;
    height: 40px;
    font-size: 15px; 
    padding: 8px; 
    background-color: hsla(0, 61%, 25%, 0.795);
    color: #c7c7c7; 
    border: none;
    border-radius: 20px;
    font-family: "Open Sans", sans-serif; 
}

.lista-produtos-container img{
    display: flex;
}

.lista-produtos-container{
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 20px;
    width: 900px;
    border: none;
    border-bottom: 1px solid gray;
    list-style-type: none;
}

button:hover {
    transform: scale(1.07); 
}
