*{
    margin: 0%;
    
}

body{
    background-color: #1f2326 ;
    overflow-x: hidden;
}


ul li{
    display: inline;
    margin-top: 15px
    }
    
    a {
    text-decoration: none;
    display: inline;
    padding: 8px;
    color: #E6C17D;
    font-size:larger;
    margin-top: 15px;
    }

    nav{
        display: flex;
      
    }
    
    .header{
    background-color: #681919;
    margin-top: 40px;
padding: 10px;
height: auto ;
    }

     
.centralizar-header{
    display: flex;
  
    
    
}

.header-content{
    margin-right:30%;
    margin-left:20px;
    margin-top: 8%;
    height: auto;
    
}

.titulo-header{
    font-size: 70px;
    color: #ffffff;
    
}
.subtitulo-header{
    font-size: 30px;
    color: #E6C17D;
    border-bottom: 4px solid white;
    width: 200px;
    
}

.spam-header{
    background-color: #E6C17D;
   height: 200px;
   padding: 10px;
   width: 500px;
}
.centralizar-spam{
display: flex;

}

     input{
    height: 30px;
     width: 250px;
     font-size: 15px;
    
    }

.botao_cadastro{
    text-decoration: none;
    display: inline;
    padding: 8px;
    color: #ffffff;
    font-size:larger;
    margin-top: 15px;
}

.Menu{
    text-decoration: none;
    display: inline;
    padding: 8px;
    color: #FFEFD2;
    font-size:x-large;
    margin-top: 15px;
}

.destaques{
    border: 1px red;
    width: auto;
    height: auto;
    padding: 8%;
    background-color:#1f2326 ;
}

.destaques-mes{
    width:auto;
    height: 70px;
    background-color: #C96D1C;
    padding: 2%;
    /* margin: 0 auto; */
    margin-left: 5%;
    margin-right: 5%;
}

.titulo-destaques{
    font-size: 65px;
    display: flex;
    justify-content: center;
    margin-top: 0;
    color: #FFEFD2;
}

.container-destaques{

    margin: 0 auto;
    margin-top: 4%;
    width: 100%;
    height: auto;
    padding: 20px;
    background-color: #79756b;
    border: none;
    border-radius: 15px;
}

.sobre{
    background-color: #681919;
    display: flex;
}

.logo-sobre{
    width: 25%; 
    max-width: 1000px; 
    height: auto; 
    margin-left: 8%;
    margin-top: 5%;
    
}

.sobre-empresa{
    margin-right:30%;
    margin-left:20px;
}

.titulo-sobre{
    font-size: 70px;
    color: #ffffff;
}

.subtitulo-sobre{
    font-size: 30px;
    color: #E6C17D;

}

.subtitulo-sobre2{
    font-size: 25px;
    color: #FFEFD2;
}