body{
    text-align: center;
    align-items: center;
    background-color: #1f2326;
    background-image: url(farsa.png);
    background-repeat: no-repeat;
    background-position: right center;
    
}


header{
 background-color: hsl(0, 61%, 25%);
width: 400%;
 margin:auto;
}

.box{
    
    border-radius: 5%;
    background-color: #8d95a693;
    align-content: center;
    align-items: center;
    margin: auto;
    border: solid #960000;
    width: 30%;
    height: 30%;
    margin-top: 10%;
}

head{
    align-content: center;
   text-align: center;
}



p{
    
    border: solid hsl(0, 100%, 29%);
    
}
a{
    color: #002EFF;
    border: solid hsl(0, 100%, 29%);

}

.dados{
    input{
        display: flex;
        flex-direction: column;
        background-color: #8d95a693;
        color: rgb(191, 189, 188);
        border-width: 20%;
        border: solid red;
        margin: auto;
        margin-bottom: 20px;
        font-family: 'Helvetica';
        
    } 
    input::placeholder{
        color: rgb(191, 189, 188);
       
    } 
    
}

.cadastro{
    color: hsl(0, 0%, 100%);
    font-family: 'Libre Baskerville';
}



.button{
    width: 250px;
    height: 40px;
    font-size: 16px; 
    padding: 10px; 
    background-color: #D9D9D9;
    color: #000000; 
    border: none;
    border-radius: 20px;
 
}