*{
    margin: 0;
}

body{
    background-color: #1F2326;
    font-family: "Libre Baskerville", serif;
}

.header{
    background-color:  hsl(0, 61%, 25%);
    height: 60px;
    padding: 20px;
    margin:auto;
    display: flex;
}

.header-pagamento-title{
    color: #FFEFD2 ;
    padding: 15px;
}

.secao{
    background-color: #1F2326;
    height: auto;
    width: auto;
    padding: 30px;
}

.container{
    display: flex ;
    gap: 20px;
    
    
}

#pagamentoImagem{
    height: 400px;
    
}

.item-pagamento{
        margin: 20px;
        display: flex ;
        background-color: #D9D9D9;
        width: 400px;
        height: auto;
        padding: 15px;
        word-wrap: break-word;
        word-break: break-word;
        max-width: 400px;
        border: none;
        border-radius: 20px;
}

#btnPagar{
        margin: 10px;
        width: 200px;
        height: 40px;
        font-size: 20px;
        padding: 10px;
        background-color: #681919;
        color: #FFEFD2;
        border: none;
        border-radius: 15px;
        font-family: "Open Sans", sans-serif;
}

.btn-remove-pagamento{
    margin: 10px;
    width: 200px;
    height: fit-content;
    font-size: 20px;
    padding: 10px;
    background-color: #1f2326;
    color: #FFEFD2;
    border: none;
    border-radius: 15px;
    font-family: "Open Sans", sans-serif;
}

.secao2{
    padding-top: 50px;
}

.flex-all{
    display: flex;
}

#produto-para-inicio{

    width: fit-content;
    height: 40px;
    font-size: 50px;
    padding: 8px;
    background-color: transparent;
    color: #ffffff;
    border: none;
    border-radius: 20px;
    font-family: "Open Sans", sans-serif;
    padding: 20px;
  
}


#label-total{
    color: #FFEFD2;
}

#valorPagar{
    font-weight: 600;
    color: #FFEFD2;
    font-size: 25px;
    padding-top: 5px;
    font-family: "Libre Baskerville", serif;
}


.valor-pagamento{
    font-size: 20px;
    padding-top: 5px;
}

.nome-pagamento{
    font-size: 25px;
}

button:hover {
    transform: scale(1.07); 
}

#confetti{
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 999;
    pointer-events: none;
}