*{
    margin: 0%;
    
}

body{
    background-color: #1f2326 ;
    overflow-x: hidden;
}

html{
    scroll-behavior: smooth; 
    /* essa propriedade aplica um efeito de scroll simples a página inteira*/
}

ul li{
    display: inline;
    margin-top: 15px;
    
    }
    
    a {
    text-decoration: none;
    display: inline;
    padding: 8px;
    color: #E6C17D;
    font-size:22px;
    margin-top: 15px;
    }

    nav{
        display: flex;
align-items: center;
    }
.search-container{
    background-color:transparent;
    border: none;
    border-bottom: 2px solid rgb(191, 189, 188);
    /* width: 50%; */
    height: 30px;
  width: 550px;
  font-size: 13px;
  color: rgba(255, 255, 255, 0.705);
}
textarea:focus, input:focus {
    box-shadow: 0 0 0 0;
    outline: 0;
    /* faz que quando, o input de pesquisar for clicado,
     continue sem nenhuma borda de seleção */
}

#logo-header{
    width: 25%; 
    max-width: 1000px; 
    height: auto; 
    max-height: 420px;
    margin-left: 8%;
    margin-top: 5%;
}


    .header{
    background-color: #681919;
    margin-top: 40px;
padding: 10px;
height: auto ;
    }

     
.centralizar-header{
    display: flex;

}

.header-content{
    margin-right:30%;
    margin-left:20px;
    margin-top: 8%;
    height: auto;
    
}

.titulo-header{
    font-size: 70px;
    color: #ffffff;
    
}
.subtitulo-header{
    font-size: 30px;
    color: #E6C17D;
    border-bottom: 4px solid white;
    width: 200px;
    
}

.botao_cadastro{
    text-decoration: none;
    display: inline;
    padding: 8px;
    color: #ffffff;
    font-size:25px;
    margin-top: 15px;
}

.Menu{
    text-decoration: none;
    display:inline;
    flex-direction: row;
    padding: 8px;
    color: #FFEFD2;
    font-size:30px;
    margin-top: 15px;
}


.destaques{
    border: 1px red;
    width: auto;
    height: auto;
    padding: 8%;
    background-color:#1f2326 ;
}

.destaques-mes{
    width:70%;
    height: 70px;
    background-color: #C96D1C;
    padding: 2%;
    margin: 0 auto;
    /* margin-left: 5%;
    margin-right: 5%; */
    
}

.titulo-destaques{
    font-size: 65px;
    display: flex;
    justify-content: center;
    margin-top: 0;
    color: #FFEFD2;
}

.container-destaques{

    margin: 0 auto;
    margin-top: 4%;
    width: auto;
    height: auto;
    padding: 20px;
    background-color: #79756b;
    border: none;
    border-radius: 15px;
}

.sobre{

    background-color: #681919;
    display: flex;
    margin-bottom: 20px;
    
}

.logo-sobre{
    width: 25%; 
    max-width: 1000px; 
    height: auto; 
    max-height: 350px;
    margin-left: 8%;
    margin-top: 5%;
    
}

.sobre-empresa{
    margin-right:30%;
    margin-left:20px;
    padding-top: 70px;
}

.titulo-sobre{
    font-size: 70px;
    color: #ffffff;
}

.subtitulo-sobre{
    font-size: 30px;
    color: #E6C17D;
    padding-bottom: 15px;

}

.subtitulo-sobre2{
    font-size: 25px;
    color: #FFEFD2;
}

#voltar-menu{
    display: flex;
    justify-content: right;
    color: #ffffff;
    margin-bottom: 15px;
    /* margin-top: 30px;
    margin-bottom: 30px; */
}
.carrinho {
    display: none; 
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgba(0, 0, 0, 0.4);
}

.conteudo_carrinho {
    background-color: #fefefe;
    position: absolute;
    top: 10%; /* Posiciona 10% a partir do topo */
    right: 0; /* Alinha o modal ao lado direito */
    padding: 20px;
    border: 1px solid #888;
    width: 30%; /* Ajuste para controlar a largura do modal */
}