
*{
    margin: 0%;
}

body{
    background-color: #1f2326 ;
    overflow-x: hidden;
}


/* header */
body{
    background-color: #1f2326 ;
    overflow-x: hidden;
}

html{
    scroll-behavior: smooth; 
    /* essa propriedade aplica um efeito de scroll simples a página inteira*/
}

.header{
    background-color: #681919;
   
   
}
.menu-ul-li{
    display:flex;
    list-style-type: none;
    justify-content: flex-start;
    align-items: center;
}
    
a {
    text-decoration: none;
    display: flex;
    padding: 4px;
    color: #E6C17D;
    font-size:23px;
    
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 12px !important;
    padding: 20px;
}



.search-container{
    background-color:transparent;
    border: none;
    border-bottom: 2px solid rgb(191, 189, 188);
    height: 30px;
    width: 550px;
    font-size: 20px;
    color: rgba(255, 255, 255, 0.705);
}

textarea:focus, input:focus {
    box-shadow: 0 0 0 0;
    outline: 0;
    /* faz que quando, o input de pesquisar for clicado,
     continue sem nenhuma borda de seleção */
}

.botao_cadastro{
    text-decoration: none;
    display: inline;
    padding: 8px;
    color: #ffffff;
    font-size:25px;
    margin-top: 15px;
}

.Menu-title{
    text-decoration: none;
    display:inline;
    flex-direction: row;
    padding: 8px;
    color: #FFEFD2;
    font-size:25px;
}

.carrinho {
    display: none; 
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgba(0, 0, 0, 0.4);
}

.conteudo_carrinho {
    background-color: #fefefe;
    position: absolute;
    top: 10%; 
    right: 0; 
    padding: 20px;
    border: 1px solid #888;
    width: 30%; 
    height: 600px;
}
/* icone do carrinho */
.img-carrinho {
   display: flex;
}
#abrir-carrinho {
    height: 50px;
}
#lupa-img{
    height: 30px;
}
.img-cadastro{
    height: 30px;
}

.img-perfil{
    display: flex;
}

.conteudo_carrinho{
    background-color: #FFEFD2;
    position: absolute;
    width: 400px;
    margin: 20px;
    padding: 0%;
    border: none;
    height:auto;
    border-radius: 20px;
   
}
#fechar-carrinho{
    color: #812323;
    font: bolder;
    font-size: 35px;
    background-color: transparent;
    border: none;
}
.header_do_carrinho{
    display: flex;
    justify-content: space-between;
    background-color: #1f2326;
   border:none;
   align-items: center;
   padding: 10px;
   border-radius: 20px;
   border-bottom: 2px #0b131a;
   border-bottom-left-radius: 0px;
   border-bottom-right-radius: 0px;
}

.titulo_do_carrinho{
    color: #FFEFD2;
    font-size: 25px;
    font-family:"Libre Baskerville", serif;

}

.produtos_dentro_do_carrinho{
    padding: 20px;
}

.produtos{
    border: 1px red;
    width: auto;
    height: auto;
    padding: 8%;
    background-color:#E6C17D ;
}

.todos-produtos{
    width:70%;
    height: 70px;
    background-color: #1f2326;
    padding: 2%;
    margin: 0 auto;
}

.titulo-produtos{
    font-size: 65px;
    display: flex;
    justify-content: center;
    margin-top: 0;
    color: #FFEFD2;
}

.produto-item:hover {
    transform: scale(1.05);
   
}

.container-produtos{
    margin: 0 auto;
    margin-top: 4%;
    width: auto;
    height: auto;
    padding: 20px;
    background-color: #681919;
    border: none;
    border-radius: 15px;
    
}

.nome-produto{
    font-weight: bold;
    font-size: 25px;
}

.valor-produto{
    font-weight: bold;
    font-size: 25px;
}

.produto-item{
    height: 500px;
    width: 200px;
    padding: 20px;
    background-color: #D9D9D9;
    border: none;
    border-radius: 20px;
    font-size: 15px;
    color: #000000;
    font-family: "Libre Baskerville", serif;
    word-wrap: break-word;
    word-break: break-word;
}

.produto-img {
    width: 100%;
    height: fit-content;
    max-height: 400px;
    object-fit: cover;
    border-radius: 8px;
    margin-bottom: 10px;
    border: 1px solid rgba(0, 0, 0, 0.363);
}

.condicao-produto{
    font-size: 18px;
    color: #000000;
   
}

.container-produtos{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  gap: 20px;
    padding: 50px;
    margin: 20px;
    list-style-type: none;
}

#catalogo-para-inicio{
  
    width: fit-content;
    height: 40px;
    font-size: 80px;
    padding: 8px;
    background-color: transparent;
    color: #ffffff;
    border: none;
    border-radius: 20px;
    font-family: "Open Sans", sans-serif;
  
}

.flex-btn-title{
    display: flex;
}

.produtos_dentro_do_carrinho{
    padding: 20px;
}


.carrinho-vazio-texto{
    font-size: 23px;
    margin: 10px;
    font-family: "Libre Baskerville", serif;
    font: bolder;
}

.add-to-cart-btn{
    background-color: transparent;
    border: none;
    color: #C96D1C;
    font-weight: 700;
    font-size: 20px;
}

#listaCarrinho{
    display: flex;
    margin-right: 25px;
    flex-direction: column;
    align-items: center;
}


.li-carrinho{
    display: flex;
    background-color: #E6C17D;
    border: none;
    border-radius: 20px;
    width: 350px;
    height: fit-content;
    margin: 20px;
    padding: 5px;
    list-style-type: none;
    justify-content:left;
    align-items: center;
    gap: 10px;
    word-wrap: break-word;
    word-break: break-word;
}

.carrinho-nome{
    font-family: "Libre Baskerville", serif;
    font-size: 25px;
    font: bolder;
}

.carrinho-valor{
    font-family: "Libre Baskerville", serif;
    font-size: 20px;
    font: bolder;
}

.carrinho-condicao{
    font-family: "Libre Baskerville", serif;
    font-size: 15px;
    font: bolder; 
}

.carrinho-img-produto{
    border-radius: 5px;
}

.btn-remove-cart {
    background: none; 
    border: none;
    padding: 5px;
    padding-bottom: 75px;
    display: flex; 
    justify-content: flex-end;
    border-radius: 5px;
    
}

.btn-remove-cart:hover {
    transform: scale(1.08);
}


.btn-remove-icon {
    width: 25px; 
    height: 25px;
    object-fit: contain; 
    margin-bottom: 80%;
}

#finalizarCompra{
    margin: 10px;
    width: 200px;
    height: 40px;
    font-size: 20px;
    padding: 10px;
    background-color: #681919;
    color: #FFEFD2;
    border: none;
    border-radius: 15px;
    font-family: "Open Sans", sans-serif;
}

.img-lupa-centralizar{
    display: flex;
}

.img-perfil{
    display: flex;
    height: 50px;
}